* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: white;
  font-family: "Poppins", sans-serif;
  min-width: 100vh;
  margin: auto;
}

.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(140deg, rgba(255, 255, 255, 1) 0%, rgba(170, 170, 170, 1) 100%);
  background-color: rgb(255, 255, 255);
  min-height: 1500px;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  padding-bottom: 12px;
  box-sizing: border-box
}

.main dark {
  background-color: rgb(54, 54, 54);
}

.centerHolder1 {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.topButtonsHolder {
  background-color: inherit;
  width: 100%;
  height: 100px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

.spanHold {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  padding: 8px 12px;
  min-width: 60%;
}

#settingsButton {
  min-width: 53%;
  position: relative;
  left: 80%;
}

#statsButton {
  min-width: 10%;
  position: relative;
  left: 80%;
}

.centerHolder2 {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.timerHolder {
  position: relative;
  max-width: 480px;
  margin: auto;
}

.timerTopButtons {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

#pomodoroButton {
  top: 20%;
  left: 15%;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 30%;
  height: 35%;
}

#breakButton {
  top: 20%;
  left: 55%;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 30%;
  height: 35%;
}

#startButton {
  top: 65%;
  left: 5%;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 40%;
}

#stopButton {
  top: 65%;
  left: 55%;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 40%;
}


#timeString {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 14%;
  margin-left: 9%;
  width: 80%;
  font-weight: bold;
  font-size: 65pt;
}


.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  width: 30%;
  height: 40%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal button {
  padding: 10px 30px;
  background-color: darkgreen;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}